.EditUserForm {
  &__body {
    margin: 15px 0px;

    .MuiFormControl-root {
      margin: 10px 0px;
    }
  }
  &__action {
    margin: 15px 0px;
    display: flex;
    justify-content: center;

    .MuiButtonBase-root{
      font-weight: 800;
    }
  }
}
